{% extends "layout.html" %}
{% block content %}

<div class="columns">
    <div class="column">
        <h1 class="is-size-2">{{ year }}年{{ month }}月{{ day }}日の予定</h1>
    </div>
    <div class="column">
        <a href="/" class="button is-primary">戻る</a>
    </div>
</div>

<p>{{ username }}さん、予定を確認・登録・終了してください</p>

<h3 class="is-size-4">予定一覧</h3>
<p>予定を終了した場合はチェックボックスにチェックをしてください</p>
<form action="/done" method="post">
    <table class="table">
        <thead class="has-background-grey">
            <tr>
                <th>内容</th>
                <th>締め切り</th>
                <th>終了</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                    {% if task.done %}
                    <span class="has-text-success">終了済</span>
                    {% else %}
                    <input type="checkbox" name="done[]" value="{{ task.id }}">
                    <span class="has-text-danger">終了する</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if tasks | length != 0 %}
    <button type="submit" class="button is-primary">更新する</button>
    {% else %}
    <button type="submit" class="button is-primary" disabled="disabled">更新する</button>
    {% endif %}
</form>

<hr>

<h3 class="is-size-4">予定の追加</h3>
<form action="/add" method="post">
    <h5>内容</h5>
    <p><input type="text" size="50" maxlength="200" name="content"></p>
    <br>
    <h5>締め切り時間</h5>
    <p>
        {{ year }}年{{ month }}月{{ day }}日
        <select name="hour">
            {% for h in range(25) %}
            <option value="{{ h }}">{{ h }}</option>
            {% endfor %}
        </select>時
        <select name="minute">
            {% for m in range(61) %}
            <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>分
    </p>
    <br>
    <input type="hidden" name="year" value="{{ year }}">
    <input type="hidden" name="month" value="{{ month }}">
    <input type="hidden" name="day" value="{{ day }}">
    <button type="submit" class="button is-primary">予定を追加する</button>
</form>

{% endblock %}