# MySQLの設定ファイル
[mysqld]
character-set-server=utf8 # mysql側で使用する文字コード
skip-character-set-client-handshake # 文字化け対策
default-storage-engine=INNODB # INNODBをストレージエンジンとする
explicit-defaults-for-timestamp=1 # TimeStamp型のカラム用
general-log=1 # 実行したクエリの全ての履歴を記録
general-log-file=/var/log/mysql/mysqld.log # ログの出力先

[mysqldump]
character-set-server=utf8

[mysql]
character-set-server=utf8

[client]
character-set-server=utf8 # mysqlのクライアント側で使用する文字コード
